<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.j2w4.rbarnes.seattlecoffeelocator2"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme" >
        <activity
            android:name="com.j2w4.rbarnes.seattlecoffeelocator2.CoffeeMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CoffeeDetailActivity">
		</activity>
        <service android:name=".CoffeeService">
		</service>
        <provider 
            android:authorities="com.rbarnes.other.LocationContentProvider"
    		android:name="com.rbarnes.other.LocationContentProvider">
        </provider>
    </application>

</manifest>